{% extends "books/base.html" %}

{% block content %}
{% if user.is_authenticated %}
<p>Привет, {{ user.username }}!</p>
<form method="POST" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Выйти</button>
</form>
{% else %}
<a href="{% url 'login' %}">Войти</a>
{% endif %}
<h2>Мои карточки</h2>
<ul>
    {% for card in cards %}
    <li>{{ card.word }} — {{ card.translation }}</li>
    {% endfor %}
</ul>
<a href="{% url 'add_card' %}">➕ Добавить новую карточку</a>
{% endblock %}